h1 {
  text-align: center;
}
#listProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#product {
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 20px;
  text-align: center;
  border: 4px solid #999;
}

#product img {
  width: 100%;
  height: 100%;
}

#product h2 {
  font-size: 1.5rem;
  margin: 5px 0;
}

#product h4 {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #666;
}

#product p {
  font-size: 1rem;
  margin: 5px 0;
  color: #999;
  line-height: 1.5;
}
